.cardHeaderText {
  font-family: 'Helvetica' !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: rgba(59, 63, 77, 0.5);
  margin-left: 20px !important;
  padding-top: 20px;
}
